<h2>Add Speciality</h2>

<form [formGroup]="specialityForm" (ngSubmit)="submit()">
	<h4 *ngIf="result.result" class="text-capitalize text-success">{{result.message}}</h4>
	<h4 *ngIf="result.error" class="text-capitalize text-danger">{{result.message}}</h4>
	
	<div class="form-group">
	
		<mat-form-field>
		
			<input matInput type="text" placeholder="Enter Speciality" formControlName="speciality">
		
		</mat-form-field>
	
	</div>
	
	<div class="form-group">
		<button mat-raised-button color="primary" type="text" >Submit </button>
	
	</div>

</form>