<div id="container">


<h3>Doctor Public Profile</h3>



	<h3>Name : {{doctor.name}}</h3>
	<h4>About:</h4>
	<p>{{doctor.about}}</p>
	
	<h4>Qualification</h4>
	
	<mat-list>
	
	
			<div *ngFor="let degree of doctor.degrees">
				<mat-list-item><h5>{{degree.degreeName}}</h5></mat-list-item>
			</div>
			
			
    </mat-list>
    
    
    
	<h4>Speciality:</h4>
	
	<mat-list>
	
	<div *ngFor="let speciality of doctor.specialities">
	
		<mat-list-item><h5>{{speciality.specialityName}}</h5></mat-list-item>
	
	</div>
	
	</mat-list>
	<h4>Working Days </h4>
	<div *ngFor="let workingday of doctor.workingDays">
	
		
		
		<mat-list>
		
        <div class="col-md-4">
		
		<mat-list-item><h5>{{workingday.dayName}}</h5></mat-list-item>
		
		</div>
		
		
		<div *ngFor="let hour of workingday.hours" >
		<p>
		{{commonService.getTimeLabel(commonService.fromLocalTimeToString(hour.startAt))}}
		 To
		{{commonService.getTimeLabel(commonService.fromLocalTimeToString(hour.closeAt))}}
		</p>
		</div>
		
		
		
		
		
		
		</mat-list>
		
		
		<br>
		
		
	</div>
	
	<h4>Address</h4>
	<div>
		<p>{{doctor.addrLineOne}}</p>
		<p>{{doctor.city}}</p>
	
	</div>


</div>