<h3>List of Today's Appointments</h3>




<div  *ngFor="let appointment of appointments">


	
	
	<div >
	
			<div class="panel panel-info">
			   <div class="panel-heading">
		    		<h5>Date:{{appointment.date*1000|date:'mediumDate'}}</h5>
		       </div>  
		       <div class="panel-body">
		             <h6>PatientId {{appointment.patientId}}</h6>
			         <h6>Patient Name:{{appointment.patientName}}</h6>
			         <h6>Patient PhoneNo:{{appointment.patientPhoneNo}}</h6>
			
		       </div>
		      <div class="panel-footer">
		      <h5>Time: {{doctorService.getTimeLabel(appointment.hours.startAt)}} To 
		      		   {{doctorService.getTimeLabel(appointment.hours.closeAt)}}</h5>
		      
		      </div>
		   </div>
				
	
	</div>	
	
	
	

</div>


<div>

		<div  *ngFor="let page of pages">
				
				<button class="btn btn-info" (click)="getAppointments(page)" >{{page}}</button>
			
		</div>
		

</div>


