/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
	font-family: 'Open Sans', sans-serif;
}

 
 
#main-container{
	display: flex;
	flex-direction:column;
	height: 100%;
	width:100%;
	flex-grow:1;
	flex-shrink:1;
}

 

.mat-form-field {
	width:100%;
}

mat-sidenav{
	width: 50%;
	max-width: 300px;
}

form {
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	max-width: 400px;
}

.content{
	
	
	}




html , body{
	margin: 0;
	padding:0;
	height:100%;
	width: 100%;
	
}


.header{
	
}

.footer{
	
	
}

.text-center{
	text-align: center;
}


doctor-home {
	height: 100%;
}

patient-home{
	height:100%;
}

.row{
	
	
}



/* if screen is greater or equal to 768px */
@media only screen and (min-width: 768px) {
     
     .mat-tab-group{
     	margin-left: 10%;
     	margin-right: 10%;
     }
     
     
}

